@model IEnumerable<PROGMAT.Models.Reservations>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section header{
    Reservations List
    <br />
    <label class="red_label">
        @ViewBag.Message
    </label>
}
@section main{
    <table>
        <tr>
            <th>Reservation ID</th>
            <th>Books ID</th>
            <th>User ID</th>
            <th>Date of reservation</th>
            <th>Cancle Reservation</th>
        </tr>

        @{
            if (Model != null)
            {
                foreach (var item in Model)
                {
                <tr>
                    <th>@item.ReservationsID</th>
                    <th>@item.BooksID</th>
                    <th>@item.UsersId</th>
                    <th>@item.DateOfReservations.ToString("d")</th>
                    <th> <button onClick="location.href =' @Url.Action("DeleteReservation", "Reservations", new { idR = item.ReservationsID, idB = item.BooksID })';return false;">Click</button> </th>
                </tr>
                }
            }
        }

    </table>
}

