@model PROGMAT.Models.Books
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section header{
    Add Book
    <br />
    <label class="red_label">
        @ViewBag.Message
    </label>
}
@section main{
    @using (Html.BeginForm("AddBookToDatabase", "Books", FormMethod.Post))
    {
        @Html.LabelFor(book => book.Name)
        @Html.EditorFor(book => book.Name)
        @Html.LabelFor(book => book.Author)
        @Html.EditorFor(book => book.Author)
        @Html.LabelFor(book => book.Description)
        @Html.EditorFor(book => book.Description)
        @Html.LabelFor(book => book.DateOfCreation)
        @Html.EditorFor(book => book.DateOfCreation)
        <button> add!!</button>
    }
}

