@model IEnumerable<PROGMAT.Models.Books>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section header{
    Edit Book
}
@section main{
    @using (Html.BeginForm("EditBook", "Books", FormMethod.Post))
    {
        <b>Search By:</b>
        @Html.RadioButton("searchBy", "Name")
        <label>Name</label>
        @Html.RadioButton("searchBy", "Author")
        <label>Author</label>
        @Html.TextBox("search")
        <button> Search</button>
    }

    <table>
        <tr>
            <th class="bold">ID</th>
            <th class="bold">Name</th>
            <th class="bold">Author</th>
            <th class="bold">Date of creation</th>
            <th class="bold">Description</th>
            <th class="bold">Is reserved</th>
            <th class="bold">Edit</th>
        </tr>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr>
                    <th>@item.BooksID </th>
                    <th>@item.Name </th>
                    <th>@item.Author </th>
                    <th>@item.DateOfCreation.ToString("d") </th>
                    <th>@item.Description </th>
                    <th>@item.IsReserved </th>
                    <th><button onClick="location.href =' @Url.Action("EditSingleBook", "Books", new { id = item.BooksID  })';return false;">Edit</button></th>
                </tr>
            }
        }

    </table>
}

