@model IEnumerable<PROGMAT.Models.Books>
@using System.Web.Optimization;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section header{
    Books List
}
@section main{
    <table>
        <tr>
            <th class="bold">ID</th>
            <th class="bold">Name</th>
            <th class="bold">Author</th>
            <th class="bold">Date of creation</th>
            <th class="bold">Description</th>
            <th class="bold">Is reserved</th>
            <th class="bold">Reservation</th>
        </tr>
        @{
            if (Model != null)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <th>@item.BooksID </th>
                        <th>@item.Name </th>
                        <th>@item.Author </th>
                        <th>@item.DateOfCreation.ToString("d") </th>
                        <th>@item.Description </th>
                        <th>@item.IsReserved </th>
                        <th>
                            @if (!item.IsReserved)
                            {
                                <button onClick="location.href =' @Url.Action("AddReservation", "Reservations", new { id = item.BooksID})';return false;">Click</button>
                            }
                            @if (item.IsReserved)
                            {
                                <label class="red_label">Reserved</label>
                            }
                        </th>
                    </tr>
                }
            }
        }
    </table>
}

