@model PROGMAT.Models.Users
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section header{
    Home Page
    <br />
    <label class="red_label">
        @ViewBag.Message
    </label>
}
@section main{
    <label class="red_label">
        @ViewBag.Message
    </label>
    @using (Html.BeginForm("CreateUser", "Users", FormMethod.Post))
    {
        @Html.LabelFor(user => user.Login)
        @Html.EditorFor(user => user.Login)
        @Html.LabelFor(user => user.Password)
        @Html.EditorFor(user => user.Password)
        <button> Register</button>
    }
    @using (Html.BeginForm("LogIn", "Users", FormMethod.Post))
    {
        @Html.LabelFor(user => user.Login)
        @Html.EditorFor(user => user.Login)
        @Html.LabelFor(user => user.Password)
        @Html.EditorFor(user => user.Password)
        <button> LogIN</button>
    }
}