@model PROGMAT.Models.Users
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section header{
    Home Page
}
@section main{

    @using (Html.BeginForm("CreateUser", "Users", FormMethod.Post))
    {
        @Html.LabelFor(user => user.Login)
        @Html.EditorFor(user => user.Login)
        @Html.LabelFor(user => user.Password)
        @Html.EditorFor(user => user.Password)
        <button> add!!</button>
    }
    @using (Html.BeginForm("LogIn", "Users", FormMethod.Post))
    {
        @Html.LabelFor(user => user.Login)
        @Html.EditorFor(user => user.Login)
        @Html.LabelFor(user => user.Password)
        @Html.EditorFor(user => user.Password)
        <button> logIN</button>
    }
}