<html>
<head>
    <link href="~/Content/Styles.css" rel="stylesheet" />
    <title>
        LC_Library
    </title>
</head>
<body>
    @RenderBody()
    <form runat="server">
        <header>
            @RenderSection("header", true)
        </header>
        <main>
            @RenderSection("main", true)
        </main>
        <aside>
            @Html.ActionLink("Home", "Home", "Home")
            <br />
            @Html.ActionLink("List of Books", "ListBook", "Books")
            <br />
            @Html.ActionLink("Add Book", "AddBook", "Books")
            <br />
            @Html.ActionLink("Edit Book", "EditBook", "Books")
            <br />
            @Html.ActionLink("Reservations List", "Reservation", "Reservations")
        </aside>
    </form>
</body>
</html>