@using System.Web.Optimization;
<html>
<head>
    @RenderSection("head", false)
    @Styles.Render("~/Content/Styles.css")
    <title>
        LC_Library
    </title>
</head>
<body>
    @RenderBody()
    <header>
        @RenderSection("header", true)
        
    </header>
    <main>
        <br />
        @RenderSection("main", true)
    </main>
    <aside>
        <hr style="width:80%;" />
        @Html.ActionLink("Home Page", "Home", "Home")
        <hr style="width:80%;" />
        @Html.ActionLink("List of Books", "ListBook", "Books")
        <hr style="width:80%;" />
        @Html.ActionLink("Add Book", "AddBook", "Books")
        <hr style="width:80%;" />
        @Html.ActionLink("Edit Book", "EditBook", "Books")
        <hr style="width:80%;" />
        @Html.ActionLink("Reservations List", "Reservation", "Reservations")
        <hr style="width:80%;" />
        <div>
            @{ if (Session["userID"] == null)
                {
                    <label class="blue_label"> Loged as: Unknown</label> }
                else
                {
                    <label class="blue_label"> Loged as: @Session["userName"].ToString()</label>
                    @Html.ActionLink("Log Out", "LogOut", "Users") 
                } 
             }
        </div>
        <hr style="width:80%;" />
    </aside>
</body>
</html>